
<h3>Termékek űrlap</h3>
<hr>
 

<form class="form-floating mb-3">
    <input type="text" class="form-control" id="productLbl">
    <label for="productLbl">Termék név</label>
</form>
<form class="form-floating mb-3">
    <input type="text" class="form-control" id="customerLbl">
    <label for="customerLbl">Egység ár</label>
</form>
<form class="form-floating mb-3">
    <input type="text" class="form-control" id="countLbl">
    <label for="countLbl">Kategória név</label>
</form>
<form class="form-floating mb-3">
    <input type="text" class="form-control" id="priceLbl">
    <label for="priceLbl">Egység név</label>
</form>
 
<button type="button" class="btn btn-secondary" routerLink='/traffics'><i class="bi bi-box-arrow-left"></i> Vissza</button>
<button type="button" class="btn btn-success mx-3"><i class="bi bi-floppy-fill"></i> Adat mentése</button>
 
